$pf-green: #36A693;
$pf-dark: #413B3C;
$pf-light: #DFD4C0;
$pf-lightest: #F3F5EA;
$pf-red: #ED5F5F;
$pf-red-light: lighten($pf-red, 10%);
$pf-green-light: lighten($pf-green, 10%);

:root {
    --PF-color-green: #{$pf-green};
    --PF-color-green-light: #{$pf-green-light};
    --PF-color-red: #{$pf-red};
    --PF-color-red-light: #{$pf-red-light};
    --PF-color-dark: #{$pf-dark};
    --PF-color-light: #{$pf-light};
    --PF-color-lightest: #{$pf-lightest};

    --PF-light-color: #{$pf-light};
    --PF-dark-color: #{$pf-dark};
    
    --PF-primary-color: #{$pf-green};
    --PF-secondary-color: #{$pf-dark};
}