@import "@fontsource/mulish/latin-400";
@import "@fontsource/mulish/latin-700";

:root {

    --PF-font-family: 'Mulish', sans-serif;
    --PF-font-thick: 700;
    --PF-font-thin: 400;

    --PF-font-small: 13px;
    --PF-font-medium: 16px;
    --PF-font-large: 20px;
    
}
